{% extends "base.html" %}
{% block content %}
        <div class="row">
          <div class="col-xs-12 col-sm-6"><!--==================== NOWE HYIP	==========================-->                  
            <div class="nbox">
              <div class="nbox-title"><h5>Newest programs</h5></div>
              <div class="nbox-content">

                <div class="nbox-element">
                  <span class="title_font">1. NANO Investments</span>
                  <a href="#" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-search visible-lg-inline visible-md-inline visible-xs-inline"></span><span> details</span></a>
                </div>
                
                <div class="nbox-element">
                  <span class="title_font">1. NANO Investments</span>
                  <a href="#" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-search visible-lg-inline visible-md-inline visible-xs-inline"></span><span> details</span></a>
                </div>
                
                <div class="nbox-element">
                  <span class="title_font">1. NANO Investments</span>
                  <a href="#" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-search visible-lg-inline visible-md-inline visible-xs-inline"></span><span> details</span></a>
                </div>
            
              </div>                         
            </div> 
          </div>
          
          <div class="col-xs-12 col-sm-6"><!--========== NOWE SCAM	===================-->                  
            <div class="nbox">
            	<div class="nbox-title"><h5>Latest scams</h5></div>
            	<div class="nbox-content">

            		<div class="nbox-element">
                  <span class="title_font">1. NANO Investments</span>
                  <a href="#" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-search visible-lg-inline visible-md-inline visible-xs-inline"></span><span> details</span></a>
                </div>
                
                <div class="nbox-element">
                  <span class="title_font">1. NANO Investments</span>
                  <a href="#" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-search visible-lg-inline visible-md-inline visible-xs-inline"></span><span> details</span></a>
                </div>
                
                <div class="nbox-element">
                  <span class="title_font">1. NANO Investments</span>
                  <a href="#" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-search visible-lg-inline visible-md-inline visible-xs-inline"></span><span> details</span></a>
								</div>
              
              </div>                         
            </div> 
          </div>
        </div>
      
        <div class="row">
          <div class="col-xs-12"><!--=================== LISTOWANIE HYIP	======================-->                  
            <div class="nbox">
              <div class="nbox-title">
                <h5>Top performance</h5>
                <div class="row">
                  <div class="col-xs-12 table_header" style="border-top: 1px solid #e7eaec; padding-top:5px;">
                    <div style="width:4%; float:left;">#</div>
                    <div class="col-xs-4">Title</div>
                    <div class="col-xs-3 col-sm-2 text-center">Status</div>
                    <div class="col-xs-3 text-center">Last payout</div>
                    <div style="width:20%; float:left;" class="hidden-xs">Days online</div>
                  </div>
                </div>
              </div>
              <div class="nbox-content">

                <div class="nbox-element list">
                  <a data-toggle="collapse" class="show-more" href="#11">
                    <div>
                      <div class="nbox-number">1</div>
                      <div class="title_font col-xs-4">NANO Investments</div>
                      <div class="col-xs-3 col-sm-2 text-center glyphicon glyphicon-ok status-icon" title="paying"></div>
                      <div class="col-xs-3 text-center nbox-payout nbox-primary">20 Nov 2015</div>
                      <span class="badge nbox-badge hidden-xs" style="margin-left:3%;">342</span>                                
                      <span class="glyphicon glyphicon-menu-right arrow-right pull-right"></span>
                    </div>
                  </a>
                  <div class="nbox-element collapse" id="11">
                    <div class="row">
                      <div class="col-xs-6">
                        <center>Profit:</center>
                        <div class="progress"><div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><strong>45%</strong></div></div>
                        <p class="title_font visible-xs hidden-sm">Days online: <span class="badge nbox-badge" style="margin-left:3%;">342</span></p>
                        <strong><small><p style="margin-top:10px;">Support:</p></small></strong><div class="clearfix"></div>
                        <p style="font-size:11px; margin-top:-10px;">support@gmail.com</p>
                      </div>
                      <div class="col-xs-6 title_font">
                        <p>Our investment: <strong style="color:#f00;">1500 USD</strong></p>
                        <p>Minimum: <strong>1 USD</strong></p>
                        <p>Maximum: <strong>500 000 USD</strong></p>
                        <p>Referral: <strong>5%</strong></p>
                        <p>Plans: 2,5% for 30 days</p>
                      </div>                     
                      <div class="col-xs-12">
                        <strong><small>Payment methods:</small></strong><div class="clearfix"></div>
                        <span class="label label-danger">PM</span>
                        <span class="label label-danger">EGO</span>
                        <span class="label label-danger">PAYEER</span>
                        <span class="label label-danger">PAYZA</span>
                        <span class="label label-danger">STP</span>
                        <span class="label label-danger">BTC</span>
                        <span class="label label-danger">PAYPAL</span>
                      </div>
                      <div class="col-xs-12">
                        <strong><small>Description:</small></strong><div class="clearfix"></div>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                      </div>
                    </div>
                  </div>
                </div>               
                    
                <div class="nbox-element list">
                  <a data-toggle="collapse" href="#12" class="show-more">
                  <div>
                    <div class="nbox-number">2</div>
                    <span class="title_font col-xs-4">Binario Investment LTD</span>
                    <div class="col-xs-3 col-sm-2 text-center glyphicon glyphicon-ok status-icon" title="paying"></div>                                
                    <div class="col-xs-3 text-center nbox-payout nbox-primary">20 Nov 2015</div>
                    <span class="badge nbox-badge hidden-xs" style="margin-left:3%;">25</span>
                    <span class="glyphicon glyphicon-menu-right arrow-right pull-right"></span>
                  </div>
                  </a>                    
                  <div class="nbox-element collapse" id="12">
                    <div class="row">
                      <div class="col-xs-6">
                        <center>Profit:</center>
                        <div class="progress"><div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><strong>45%</strong></div></div>
                        <p class="title_font visible-xs hidden-sm">Days online: <span class="badge nbox-badge" style="margin-left:3%;">25</span></p>
                        <strong><small><p style="margin-top:10px;">Support:</p></small></strong><div class="clearfix"></div>
                        <p style="font-size:11px; margin-top:-10px;">support@gmail.com</p>
                      </div>
                      <div class="col-xs-6 title_font">
                        <p>Our investment: <strong style="color:#f00;">1500 USD</strong></p>
                        <p>Minimum: <strong>1 USD</strong></p>
                        <p>Maximum: <strong>500 000 USD</strong></p>
                        <p>Referral: <strong>5%</strong></p>
                        <p>Plans: 2,5% for 30 days</p>
                      </div>                     
                      <div class="col-xs-12">
                        <strong><small>Payment methods:</small></strong><div class="clearfix"></div>
                        <span class="label label-danger">PM</span>
                        <span class="label label-danger">EGO</span>
                        <span class="label label-danger">PAYEER</span>
                        <span class="label label-danger">PAYZA</span>
                        <span class="label label-danger">STP</span>
                        <span class="label label-danger">BTC</span>
                        <span class="label label-danger">PAYPAL</span>
                      </div>
                      <div class="col-xs-12">
                        <strong><small>Description:</small></strong><div class="clearfix"></div>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                      </div>
                    </div>
                  </div>
                </div>
                    
                <div class="nbox-element list">
                  <a data-toggle="collapse" href="#13" class="show-more">
                  <div>
                    <div class="nbox-number">3</div>
                    <div class="title_font col-xs-4">NANO Investments</div>
                    <div class="col-xs-3 col-sm-2 text-center glyphicon glyphicon-ok status-icon" title="paying"></div>
                    <div class="col-xs-3 text-center nbox-payout nbox-primary">20 Nov 2015</div>
                    <span class="badge nbox-badge hidden-xs" style="margin-left:3%;">635</span>
                    <span class="glyphicon glyphicon-menu-right arrow-right pull-right"></span>
                  </div>
                  </a>
                  <div class="nbox-element collapse" id="13">
                    <div class="row">
                      <div class="col-xs-6">
                        <center>Profit:</center>
                        <div class="progress"><div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><strong>45%</strong></div></div>
                        <p class="title_font visible-xs hidden-sm">Days online: <span class="badge nbox-badge" style="margin-left:3%;">635</span></p>
                        <strong><small><p style="margin-top:10px;">Support:</p></small></strong><div class="clearfix"></div>
                        <p style="font-size:11px; margin-top:-10px;">support@gmail.com</p>
                      </div>
                      <div class="col-xs-6 title_font">
                        <p>Our investment: <strong style="color:#f00;">1500 USD</strong></p>
                        <p>Minimum: <strong>1 USD</strong></p>
                        <p>Maximum: <strong>500 000 USD</strong></p>
                        <p>Referral: <strong>5%</strong></p>
                        <p>Plans: 2,5% for 30 days</p>
                      </div>
                     
                      <div class="col-xs-12">
                      <strong><small>Payment methods:</small></strong><div class="clearfix"></div>
                        <span class="label label-danger">PM</span>
                        <span class="label label-danger">EGO</span>
                        <span class="label label-danger">PAYEER</span>
                        <span class="label label-danger">PAYZA</span>
                        <span class="label label-danger">STP</span>
                        <span class="label label-danger">BTC</span>
                        <span class="label label-danger">PAYPAL</span>
                      </div>
                      <div class="col-xs-12">
                        <strong><small>Description:</small></strong><div class="clearfix"></div>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                      </div>
                    </div>
                  </div>
                </div>
                    
              </div><!-- end nbox-content -->                         
            </div><!-- end nbox-content -->
          </div>
        </div>
{% endblock %}